@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "List Nhạc Việt";
}
<h2>Danh Sách Nhạc</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Bảng xếp hạng tháng 8</th>
            <th>Dowload</th>
        </tr>
    </thead>
    <tbody>
        @foreach (string item in ViewBag.List)
        { 
            <tr>
                <td>
                    @Html.ActionLink(item, "PhatNhac", new
                        {
                            name = item
                        })
                </td>
                <td>
                    @Html.ActionLink("Tải về", "TestFileStreamResult", "Home", new
                        {
                            name = item
                        }, null)
                </td>
            </tr>
            
        }
    </tbody>
</table>