USE [DinhTienLuc_2210900038]
GO
/****** Object:  Table [dbo].[DTL_SACH]    Script Date: 7/11/2024 10:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTL_SACH](
	[Dtl_MaSach] [nchar](10) NOT NULL,
	[Dtl_TenSach] [nvarchar](50) NULL,
	[Dtl_SoTrang] [numeric](18, 0) NULL,
	[Dtl_NamXB] [date] NULL,
	[Dtl_MaTG] [nchar](10) NULL,
	[Dtl_TrangThai] [bit] NULL,
 CONSTRAINT [PK_DTL_SACH] PRIMARY KEY CLUSTERED 
(
	[Dtl_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTL_TACGIA]    Script Date: 7/11/2024 10:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTL_TACGIA](
	[Dtl_MaTG] [nchar](10) NOT NULL,
	[Dtl_TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_DTL_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Dtl_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DTL_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DTL_SACH_DTL_TACGIA] FOREIGN KEY([Dtl_MaTG])
REFERENCES [dbo].[DTL_TACGIA] ([Dtl_MaTG])
GO
ALTER TABLE [dbo].[DTL_SACH] CHECK CONSTRAINT [FK_DTL_SACH_DTL_TACGIA]
GO
