@{
    ViewBag.Title = "DtlContact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        K22CNT4<br />
        Đinh Tiến Lực<br />
        <abbr title="Phone">P:</abbr>
        0372657743
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:lasnguyen06@gmail.com">mailto:lasnguyen06@gmail.com</a><br />
    </address>
</main>